html {
    height: 100%;
}

body {
    background: #eae2b7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header-principal {
    display: flex;
    background: #003049;
    height: 100px;
    align-items: center; 
}

.header-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-container .header-nav {
    display: flex;
}

.header-container .header-titulo {
    color: #fcbf49;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

.header-container .header-nav a {
    background: #fcbf49;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #003049;
}

main {
    display: flex;
    padding: 20px 0;
}

.main-container {
    width: 940px;
    margin: 0 auto;
}

.main-container ul {
 display: flex;
 flex-wrap: wrap; 
 
}

.main-container li {
    margin: 15px; 
}

.main-container img {
    width: 200px;
}

footer {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    text-align: center;
    background-color: #003049;
    padding: 20px 0;
    margin-top: auto;
}

footer li {
    display: inline;
}

.icon {
    align-items: center;
    width: 32px;
    margin-left: 20px;
}

.copyright {
    font-size: 13px;
    margin-top: 10px;
    color: #fcbf49;
}

/* Mobile */

@media(max-width: 768px) {

    .header-principal {
        height: auto;
    }

    .header-principal .header-container {
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    .header-principal .header-nav {
        flex-direction: column;
    }

    .header-container .header-titulo {
        margin-bottom: 10px;
    }

    .header-container .header-nav a {
        margin: 10px 0;
    }

    .main-container {
        width: 768px;
    }

    .main-container ul {
        flex-direction: column;
        
    }

    .main-container li {
        margin: 20px auto;
    }
   
}

@media(min-width: 769px) and (max-width: 939px) {

    .header-titulo {
        margin-left: 20px;
    }

    .main-container {
        width: 939px;
    }

    .main-container li {
        margin: 20px auto;
    }
    
}

@media(max-width: 1200px) {
    .header-titulo {
        margin-left: 20px;
    }
}


